@import "variables";
@import "buttons";

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;

}


.main-app-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;

  header {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    //background: aquamarine;
    background: $header-background;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em;
    color: $header-h2-color;
    & > h2 {
      margin: 0;
      color: $header-h2-color;
      font-size: 1em;
    }
  }

  footer {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: $footer-background;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;

    & > h2 {
      margin: 0;
      color: $footer-h2-color;
      font-size: 1em;
    }
  }

  .main-app {
    flex: 1;
    height: 100%;
    background: #fffcfc;
    padding-bottom: 80px;

    & > .tour-wrap {
      display: flex;
      flex-wrap: wrap;

      & > .tour-block {
        width: 18em;
        height: 20em;
        border: 1px solid lightslategray;
        margin: 10px;
        padding: 1em;
        //overflow: auto;

        & > h2 {
          margin: 0;
          margin-bottom: 5px;
          font-size: 1.5em;
          font-weight:600;
        }

        &:hover {
          cursor: pointer;
        }

        & > .tour-pic {
          width: 100%;
          height: 100px;
        }

        & > .tour-block-description {
          max-height: 80px;
          overflow: auto;
        }

        & > .tour-block-price {

        }
      }
    }


  }
}

.modal-element {
  color: $modal-text-color;
  background-color: $modal-background;
  min-height: 200px;
  //min-width: 200px;
  width: 400px;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  //margin-top: -50px;
  margin-left: -200px;


  & .close-modal {
    position: absolute;
    top: 0;
    right: 0.5em;
    margin: 0;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
  }

  & > .modal-tour-info {
    & > h2 {
      margin: 0;
      margin-bottom: 5px;
    }
  }

}






